:root{
--richBlack: #040F0F;
--forestGreen: #248232;
--greenPantone: #2BA84A;
--outerSpace: #2D3A3A;
--babyPowder: #FCFFFC;
--mainText: black
}

body{
    padding: 0;
    margin: 0;
    text-align: center;
}

nameAndLink{
    text-align: center;

}



img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    transform: rotate(-30deg);
    size: 20px;
    padding-top: 20px;
}

nav{
margin: 10px;
background-color: var(--babyPowder);
}

section{
    background-color: var(--outerSpace);
    text-align: center;
}